body, html {
	display:block;
	width:100%;
	height:100%
}
a {
	text-decoration:none
}
body {
	background-color:#fafafa;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	font-style:italic;
	color:#333;
	margin:0;
	padding:0;
	box-sizing:border-box
}
body.dark {
	color:#fff;
	background-color:#000
}
#game-bound {
	position:absolute;
	width:100%;
	max-width:100%;
	margin:0 auto
}
.no-parent-window #game-bound {
	top:50%;
	left:50%;
	transform:translate(-50%, -50%)
}
#game {
	position:relative;
	width:100%;
	margin:0 auto;
	height:0;
	padding-bottom:56.25%;
	box-sizing:border-box;
			font-weight:800;
	font-style:italic;
}
#game canvas {
	max-width:100%;
	max-height:100%;

}
#game canvas, #start {
	position:absolute;
	width:100%;
	height:100%
}
#start {
	top:0;
	left:0;
	visibility:hidden;
	opacity:0;
	transition:opacity .6s, visibility 0s .6s;
	background-image:url(../images/backgrounds/start_bg.jpg);
	background-size:cover
}
#start span {
	position:absolute;
	display:block;
	top:50%;
	left:50%;
	font-size:2rem;
	transform:translate(-50%, -50%);
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
#start .button-wrapper, #start span {
	visibility:hidden;
	opacity:0;
	transition:opacity .6s, visibility 0s .6s
}
#start.pre-click, #start.visible .button-wrapper, #start.visible span {
	visibility:visible;
	opacity:1;
	transition:opacity .6s
}
#start .button-wrapper {
	position:absolute;
	bottom:12%;
	width:100%
}
.aspect {
	position:relative;
}
.asset {
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
}
.asset, .logo {
	position:absolute
}
.logo {
	top:38%;
	left:50%;
	width:65%;
	max-width:659px;
	transform:translate(-50%, -50%);
}
.logo .aspect {
	padding-bottom:44.157814871%;
	animation:c 20s infinite alternate ease-in-out
}
.logo .asset {
	background-image:url(../images/start/title-lockup.png);
	background-size:100%;
	background-repeat:no-repeat
}
@media not all, only screen and (-webkit-min-device-pixel-ratio:1.3), only screen and (-webkit-min-device-pixel-ratio:1.3020833333333333), only screen and (min-resolution:1.3dppx), only screen and (min-resolution:125dpi) {
.logo .asset {
background-image:url(../images/start/title-lockup@2x.png)
}
}
.secondary-logo {
	position:absolute;
	left:2%;
	top:5%;
	width:20%;
	max-width:151px;
}
.secondary-logo .aspect {
	padding-bottom:47.6821192053%
}
.secondary-logo .asset {
	background-image:url(../images/start/finding-dory-logo.png);
	background-size:100%;
	background-repeat:no-repeat
}
@media not all, only screen and (-webkit-min-device-pixel-ratio:1.3), only screen and (-webkit-min-device-pixel-ratio:1.3020833333333333), only screen and (min-resolution:1.3dppx), only screen and (min-resolution:125dpi) {
.secondary-logo .asset {
background-image:url(../images/start/finding-dory-logo@2x.png)
}
}
.button {
	position:relative;
	width:36%;
	margin:0 auto;
	text-align:center;
	cursor:pointer;
	animation:a 1.6s infinite alternate ease-in-out
}
.button .aspect {
	padding-bottom:30.5785123967%
}
.button .asset {
	background-size:100%;
	background-image:url(../images/utility/button_bg.png)
}
.button .content {
	position:absolute;
	width:100%;
	height:100%;
	transition:transform .8s
}
html.no-touch .button .content:hover {
	transform:scale(1.06);
	transform:scale3d(1.06, 1.06, 1.06);
	transition:transform .8s
}
.button .label {
	position:absolute;
	top:49%;
	left:50%;
	text-transform:uppercase;
	color:#FFF;
	font-weight:800;
	font-style:italic;
	font-size:1.5rem;
	text-shadow:1px 1px 0 #000;
	transform:translate(-50%, -50%)
}
.characters {
	position:absolute;
	bottom:0%;
	left:-3%;
	width:20%;
	/*max-width:191px;*/
	max-width:291px;
	animation:b 10s infinite alternate ease-in-out
}
.characters .aspect {
	padding-bottom:94.7643979058%;
	background-image:url(../images/start/dory.png);
	background-size:100%;
	background-repeat:no-repeat
}
@media not all, only screen and (-webkit-min-device-pixel-ratio:1.3), only screen and (-webkit-min-device-pixel-ratio:1.3020833333333333), only screen and (min-resolution:1.3dppx), only screen and (min-resolution:125dpi) {
.characters .aspect {
background-image:url(../images/start/dory@2x.png)
}
}
.copyright {
	position:absolute;
	right:2%;
	bottom:3%;
	font-size:.1em;
	text-transform:uppercase;
	letter-spacing:.24em;
	color:#000;
	opacity:.7
}
.dark .copyright {
	color:#fff
}
/*@keyframes a {
to {
transform:scale(1.05);
transform:scale3d(1.05, 1.05, 1.05)
}
}
@keyframes b {
0% {
transform:translate(0);
transform:translateZ(0)
}
30% {
transform:translate(2%, 1%);
transform:translate3d(2%, 1%, 0)
}
60% {
transform:translate(3%, 3%);
transform:translate3d(3%, 3%, 0)
}
to {
	transform:translate(-3%, -2%);
	transform:translate3d(-3%, -2%, 0)
}
}
@keyframes c {
0% {
transform:translate(0);
transform:translateZ(0)
}
30% {
transform:translate(2%, 1%);
transform:translate3d(2%, 1%, 0)
}
60% {
transform:translate(4%, 5%);
transform:translate3d(4%, 5%, 0)
}
to {
	transform:translate(-5%, 2%);
	transform:translate3d(-5%, 2%, 0)
}
}*/
@media screen and (min-width:480px) {
.button .label {
	font-size:1.8rem
}
}
@media screen and (min-width:680px) {
.logo {
	width:60%
}
#start .button-wrapper {
	bottom:14%
}
.button {
	max-width:242px
}
.button .label {
	font-size:2.25rem
}
.copyright {
	bottom:5%;
	font-size:.63em;
	opacity:.8
}
}
@media screen and (min-width:960px) {
.logo {
	top:44%;
	width:100%
}
}
@media screen and (min-width:1100px) {
.characters {
	left:6%
}
}
